.content-container {
  width: 100%;
  max-width: 1000px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.conduct-container {
  max-height: 20em;
  overflow-y: hidden;
}

.footer-row {
  padding-top: 0;
  padding-bottom: 0;
}

.package-button {
  text-align: center;
}

.lede-row {
  background-color: #ababab;
  color: white;
}

.quote-attribution {
  display: block;
  text-align: left;
}

.footer-menu {
}

.footer-menu-header {
  font-weight: bold;
}

.footer-menu-body {
  display: none;
}

.footer-xs-padding {
  padding-bottom: 12em;
}

.footer-sm-padding {
  padding-bottom: 8em;
}

.footer-md-padding {
  padding-bottom: 4em;
}

.footer-lg-padding {
  padding-bottom: 4em;
}
