.row {
  padding-bottom: 2em;
}

.content-container {
  width: 100%;
  max-width: 1000px;
}

.site h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 3.2em;
  font-weight: bolder;
}

.site h2 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: bolder;
}

.site p {
  font-size: 1.5em;
  font-weight: 400;
  color: #555;
}

.site blockquote {
  font-size: 1.5em;
  font-weight: 500;
  color: #777;
}

.quote-attribution {
  text-align: left;
  display: block;
}

.index-topbar {
  background-color: #ffef5b;
  min-height: 0.8em;
}

.community-topbar {
  background-color: #0e6170;
  min-height: 0.8em;
}

.packages-topbar {
  background-color: #2e2e2e;
  min-height: 0.8em;
}

.lede-row {
  background-color: #5e5f5e;
  padding-top: 0;
  max-height: 40em;
  overflow-y: hidden;
}

.lede-row h1 {
  color: white;
  padding-top: 0;
  margin-top: 1em;
}

.lede-row p {
  color: white;
}

.lede-row a {
  color: white;
  font-weight: bold;
}

.lede-row a:hover {
  color: white;
  font-weight: bold;
}

.security-row {
  background-color: #0096b2;
  color: white;
}

.security-row p {
  color: white;
}

.security-row a {
  color: white;
  font-weight: bold;
}

.package-button-row {
  background-color: #0096b2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

.package-button-row .row {
  padding-bottom: 0;
}

.package-container {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.package-container p {
  margin-bottom: 0;
}

.package-button {
  padding: 0.8em 1.5em 0.8em 1.5em;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #b21b5c !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b21b5c", endColorstr="#b21b5c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b21b5c), to(#b21b5c));
  background-image: -moz-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: -ms-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b21b5c), color-stop(100%, #b21b5c));
  background-image: -webkit-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: -o-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: linear-gradient(#b21b5c, #b21b5c);
  border-color: #b21b5c #b21b5c;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  border-radius: 0.3em;
}

.package-button:hover {
  text-decoration: none;
  font-weight: bolder;
}

.package-row h2 {
  text-align: left;
}

.packages-row {
  background-color: #efefef;
}

.packages-row h2 {
  text-align: left;
  font-weight: normal;
  font-size: 2.2em;
}

.release-source {
  list-style: none;
  padding-left: 0;
}

.community-row h2 {
  text-align: left;
  font-weight: normal;
  font-size: 2.2em;
}

.vision-row {
  background-color: #0e6170;
  color: white;
}

.vision-row p, .vision-row a, .vision-row a:hover {
  color: inherit;
}

.vision-parts a {
  font-weight: bold;
  text-decoration: none;
}

.vision-row a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.vision-parts {
  font-size: 80%;
}

.team-list {
  list-style: none;
  padding-left: 1em;
}

.address-row {
  padding-top: 1em;
}

.address-row ul {
  display: block;
  list-style: none;
  padding-left: 0;
}

.gallery-row h2 {
  text-align: left;
  font-weight: normal;
  font-size: 2.2em;
}


}

.copyright-row {
  font-size: 1em;
  padding-top: 1em;
}

.footer-row {
  color: white;
  background-color: #2e2f2e;
  padding-top: 1em;
}

.footer-row .row {
  padding-bottom: 1em;
}

.footer-row h1 {
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
}

.footer-row h2 {
  font-weight: 400;
  font-size: 1.2em;
  text-align: left;
}

.footer-row p {
  color: white;
}

.footer-row a {
  color: white;
  font-weight: 500;
}

footer-row a:hover {
  color: white;
  text-decoration: underline;
}

.footer-menu {
}

.footer-menu-header {
  font-weight: bold;
}

.footer-menu-body {
  list-style: none;
  margin-top: 1em;
  margin-left: 0px;
  padding-left: 0px;
}

/* TODO: Replace legacy CSS with new CSS */
.comments {
  text-align: center;
  margin: 0 0 2em 0;
  background: #dedded;
  border-radius: .3em; }

.comments p {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {
  display: block;
  text-align: left;
  padding: 0 0 0 10em;
  margin: 0 0 1em 0;
}

#mc_embed_signup form p {
  text-align: left;
  padding: 0 0 0 8px;
  font-style: italic;
}

#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none; -moz-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox; -moz-appearance:none;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio; -moz-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {
  clear:both;

  background: #001a31;
  background: linear-gradient(#ff8373, #ff1e00);
  color: white;
  background-color: #aaa;
  border: 0 none;
  border-radius:4px;
  cursor: pointer;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding:0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

#mc_embed_signup .button:hover {background-color:#ff1e00;}

#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:inline; padding:8px 0; margin:0 1em 0; text-indent:5px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:inline; width:14em; margin: 0;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

.blog_posts ul li,
.blog_posts ol li {
  font-size: 1.2em;
}

.blog_posts div.by_line span.author {
  font-size: 1.5em;
  font-weight: bold;
  color: #666666;
  display: inline;
  padding-right: 0.25em;
  border-right: 1px solid #cccccc;
}

.blog_posts div.by_line span.date {
  font-size: 1.2em;
  color: #444444;
  padding-left: 0.25em;
}
