---
layout: page
---
  {% include home_header.html %}

  <div class='alt' id='intro'>
    {% include mailchimp.html %}
  </div>

  <div class="container home_page">
    <p>
      An implementation of Ruby <em>designed for concurrency</em> using native
      threads to run Ruby code on <em>all the CPU cores</em>.
    </p>

    <p>
      Rubinius <em>runs Ruby code fast</em> with a low-pause generational
      garbage collector and LLVM-based just-in-time (JIT) native machine code
      compiler.
    </p>

    <p>
      The Rubinius core library and tools are <em>built using Ruby</em>,
      making a smaller, consistent system that's easier for Ruby programmers
      to understand and modify.
    </p>

    <p>
      Rubinius maintains a test suite containing <em>more
      than 20,000 specifications</em> to monitor compatibility with Matz's Ruby
      Implementation (MRI).
    </p>

    <p>
      Rubinius provides a C-API interface for running C-extensions to <em>ease
      migrating from MRI</em>.
    </p>
  </div>

  {% include footer.html %}
