---
layout: index
---

<div class="rubinius-topbar"></div>

<!-- Package download button visible on md, lg -->
{% include package.html %}

<!-- Lede content -->
{% include lede.html %}

<!-- Platform description and project goals -->
{% include platform.html %}

<!-- Details of available packages and packaging policy -->
{% include packages.html %}

<!-- Security reporting instructions -->
{% include security.html %}

<!-- Community -->
{% include community.html %}

<!-- The Rubinius Team -->
{% include team.html %}

<!-- The Rubinius Book description -->
{% include book.html %}

<!-- The Rubinius gallery -->
{% include gallery.html %}

<!-- The Rubinius store -->
{% include shop.html %}
