---
layout: index
---

<div class="index-topbar"></div>

<!-- Package download button visible on md, lg -->
<section>
  <div class="package-button-row hidden-xs hidden-sm">
    <div class="container content-container">
      <div class="row">
        <div class="col-md-12 package-container">
        {% for release in site.data.releases limit:1 %}
          <p id='version'>
            <a class="package-button" href="{{ site.data.urls.s3_base_url }}{{ release.version }}.tar.bz2">
              Install Rubinus {{ release.version }}</a>
          </p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Lede content -->
<section>
  <div class="lede-row">
    <div id="lede-carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#lede-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#lede-carousel" data-slide-to="1"></li>
        <li data-target="#lede-carousel" data-slide-to="2"></li>
        <li data-target="#lede-carousel" data-slide-to="3"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="container content-container lede-container">
            <div class="row">
              <div class="col-md-12">
<h1>Rubinius Compute - Programming for the Internet</h1>

<p>Today, I'm announcing <a href="http://compute.rubinius.com"><strong>Rubinius Compute</strong></a>, a platform for computation inspired by <a href="https://aws.amazon.com/lambda/">Amazon Lambda</a> that builds on the Rubinius language platform.</p>

<div class="compute-cta">
  <p><a class="compute-cta-button" href="http://compute.rubinius.com">Learn about Compute</a></p>
</div>

<p>We see two major trends converging: First, more devices are being connected and those devices need to communicate, driving a constant rise in network use. Second, more data is being created, processed, and stored.</p>

<p>The problem is, there's a massive asymmetry in the network. A relatively tiny number of "smart" nodes do all the work and receive most of the communication, while an enormous number of nodes mostly just add load to the network.</p>

<p><a href="http://rubinius.com/2015/11/10/rubinius-compute-programming-for-the-internet/">Read more...</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container content-container lede-container">
            <div class="row">
              <div class="col-md-12">
<h1>Who's Using Ruby (or Not), for What, and Why?</h1>

<p>The way we build, test, deploy, maintain, and support applications has changed a lot in the past five years. Containers, microservices, the growing number of connected devices (IoT, if you must), and the sorts of applications people are building with <a href="http://emberjs.com/">Ember</a>, <a href="https://angularjs.org/">Angular</a>, <a href="http://facebook.github.io/react/">React</a> and <a href="https://www.meteor.com/">Meteor</a> are big, not small, changes.</p>

<p>How does Ruby and Rails fit into this rapidly changing landscape? If you search Google for <a href="https://encrypted.google.com/search?hl=en&q=what%20companies%20use%20Ruby%20or%20Rails">"what companies use Ruby or Rails"</a> there's not a lot of specific details about <em>what</em> people are doing with Rails. How does Rails fit into a containerized microservices environment? How are people building services with Rails, or are they? I'm curious about this and I think a lot of the new developers learning Ruby in this changing environment would be as well.</p>

<p>So, I've put together a really brief survey; I'd love to hear more about why people are using Ruby, or why they are not.</p>

<p>Survey: <a href="https://goo.gl/forms/cf8OstwXmI">Who's Using Ruby (or Not), for What, and Why?</a></p>

<p><a href="http://rubinius.com/2015/08/31/who-is-using-ruby-for-what-and-why/">Read more...</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container content-container lede-container">
            <div class="row">
              <div class="col-md-12">
<h1>Rubinius Analyst - Know Your App</h1>

<p>Today, I'm announcing <a href="http://analyst.rubinius.com"><strong>Analyst</strong></a>, the first product from <a href="http://rubinius.com/2015/10/27/rubinius-inc-a-benefit-company/">Rubinius, Inc</a>, building on the technology in the Rubinius language platform.</p>

<p><a href="http://analyst.rubinius.com"><strong>Analyst</strong></a> is a tool for anyone who has struggled to understand, evolve, transform, and scale an application.</p>

<p>It is an alternative to paying the significant cost to rewrite an application that has grown too large and complex to confidently update as quickly as business innovation now requires.</p>

<p>During the past 5-10 years, the world of programming has changed significantly. Languages like Clojure, Go, Rust, and Scala are commanding ever greater mind-share, and JavaScript has pushed into new territory, both within the browser and outside it. Programmers are not just switching languages, they are also changing the way they build applications.</p>

<p><a href="http://rubinius.com/2015/11/04/rubinius-analyst-know-your-app/">Read more...</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container content-container lede-container">
            <div class="row">
              <div class="col-md-12">
<h1>Rubinius, Inc - A Benefit Company</h1>

<p>I'm excited to share with you that I've formed <strong>Rubinius, Inc</strong>, an Oregon corporation designated as a "benefit company", to focus on building excellent programming language tools and sustain the development of the Rubinius platform.</p>

<p>You may be wondering, <a href="http://benefitcorp.net">What is a benefit company?</a></p>

<p>Generally, it is a statutory designation that allows the business to consider the general social benefit and the environment when making decisions, rather than only focusing on revenue impact. The designation does not affect the tax structure for the business, and typically requires the business to publish an annual transparency report about the company's impact on society and the environment.</p>

<p>I elected to form a benefit company, rather than a foundation or non-profit, because I believe it provides the lowest administrative overhead while building a sustainable economic model to support Rubinius as an open source project. A portion of the shares of Rubinius, Inc are dedicated solely to sustaining Rubinius.</p>

<p><a href="http://rubinius.com/2015/10/27/rubinius-inc-a-benefit-company/">Read more...</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="left carousel-control" href="#lede-carousel" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#lede-carousel" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- Platform description and project goals -->
<section>
  <div class="platform-row">
    <div class="container content-container">
      <div class="platform-container">
        <div class="row">
          <div class="col-md-12">
<h1 id="platform">Rubinius Language Platform</h1>

<p>Rubinius is a platform for building programming language technology.</p>

<p>It is difficult to imagine human society without the presence of language. Every advance in human history results from processing and sharing information. The digital revolution is merely the latest of many such advances. <em>Languages are the preeminent tool for processing information.</em> Through the use of languages, humans do the work of information processing and transform the world around them. Humans discovered fire; they invented rocket engines.</p>

<p>Computers are the engines for information processing. Extremely powerful computers are everywhere now. Hundreds of millions of people use them every day. But a tiny fraction of those people actually use the computer itself. A computer is the most powerful machine humans have created and yet most people only use the computer through an app someone else made. The next leap forward for society requires widespread ability to use computers directly.</p>

<p>Rubinius is not the only project focused on making computers better for more people. Most projects aim to make computers easier to use in some respect. Rubinius is instead focused on <em>making people more able to use computers</em>. <a href="http://www.amazon.com/Who-Want-Your-Customers-Become-ebook/dp/B008HRM9X4/">Technology is transformative.</a> Henry Ford didn't just manufacture cars, he helped create a nation of drivers. Rubinius envisions a world where people use computers to solve problems, building their own roads in a sense, not merely following the roads someone else built for them.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Details of available packages and packaging policy -->
{% include packages.html %}

<!-- Security reporting instructions -->
<section>
  <div class="security-row">
    <div class="container content-container">
      <div class="security-container">
        <div class="row">
          <div class="col-md-12">
<h1 id="security">Reporting Security Issues</h1>

<p>We work hard to provide a secure environment for running your code. If you find a security issue, please email <a href="mailto:security@rubinius.com">security@rubinius.com</a>. Encrypt your email using <a href="https://github.com/rubinius/rubinius/blob/master/security.pub">our public key</a> (also available <a href="http://rubinius.com/security.pub">on the our website</a> or from the <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x0F7D2F9537F9880C">MIT PGP database</a>).</p>

<p>Our policy is to respond to you within 72 hours and we will work with you to create a fix for the issue. Sending an email to <a href="mailto:security@rubinius.com">security@rubinius.com</a> will not result in a public disclosure. We will work with you on a public disclosure after we have prepared a fix.</p>

<p>For security issues with the standard libraries that are copied from Ruby, please <a href="https://www.ruby-lang.org/en/security/">report them directly</a> to that project. We are notified as part of their reporting procedures and we ensure that Rubinius is patched in the cases when those vulnerabilities affect Rubinius as well.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Community -->
{% include community.html %}

<!-- The Rubinius Team -->
<section>
  <div class="team-row">
    <div class="container content-container">
      <div class="team-container">
        <div class="row">
          <div class="col-md-12">
<h1 id="team">Rubinius Team</h1>

<ul class="team-list">
  <li>
<p><strong>Valerie Concepcion</strong>: If you're interested in getting things like Raspberry PI's, Legos, and Wii Remotes to play well together, Valerie can help. Drawn to the Maker movement and inspired by her friends who work in non-profits, she is interested in applying technology for social good.</p>
  </li>

  <li>
<p><strong>Jesse Cooke</strong>: As co-founder of <a href="https://watsi.org/">Watsi</a>, a venture to fund healthcare for people around the world, Jesse was part of YCombinator's first ever non-profit. Jesse has been contributing in any way he can to Rubinius for a long time. If you visit Portland, OR, you may see him riding this weird bike with a belt instead of a chain.</p>
  </li>

  <li>
<p><strong>Stacy Mullins</strong>: At one point, Stacy would have gladly chosen a typewriter over a computer. But at school for graphic design, she became fascinated by technologies like HTML and CSS and the ability to create something from scratch. Now she's learning about crafting code and communicating well with other developers.</p>
  </li>

  <li>
<p><strong>Yorick Peterse</strong>: When not breaking code, Yorick is fixing it and asking questions. Either way, there is a lot of code happening. He's drawn to the deep technical details of systems like just-in-time compilers and concurrency. He may or may not be a Dr. Evil character hatching plans for world domination.</p>
  </li>

  <li>
<p><strong>Sophia Shao</strong>: A recent graduate of Carnegie Mellon University's Electrical &amp; Computer Engineering department, Sophia has tackled modernizing massive legacy applications. She's also delved into the deepest corners of Rubinius. Hit her up for tips about debugging machine code.</p>
  </li>

  <li>
<p><strong>Brian Shirai</strong>: Having once passed over Ruby for being too much like Perl, Brian rediscovered Ruby over ten years ago and has been working on Rubinius for the past nine. Inadvertently, he's also learned Perl and Bash.</p>
  </li>
</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Rubinius Book description -->
<section>
  <div class="book-row">
    <div class="container content-container">
      <div class="book-container">
        <div class="row">
          <div class="col-md-12">
<h1 id="book">Rubinius Book</h1>

<p>We are writing <a href="https://www.gitbook.com/book/rubinius/the-rubinius-book/">The Rubinius Book</a> as a guide to all aspects of building the Rubinius language platform and community.</p>

<p>You can view <a href="/doc">the previous documentation</a> while we transition content to The Rubinius Book.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Rubinius gallery -->
<!-- Gallery under construction
{% include gallery.html %}
Gallery under construction -->

<!-- The Rubinius shop -->
<!-- Shop under construction
{% include shop.html %}
Shop under construction -->
