---
layout: index
---

<!-- Package download button visible on md, lg -->
{% include package.html %}

<!-- Lede content -->
{% include lede.html %}

<!-- Platform description and project goals -->
{% include platform.html %}

<!-- Details of available packages and packaging policy -->
{% include packages.html %}

<!-- Security reporting instructions -->
<section>
  <div class="security-row">
    <div class="container content-container">
      <div class="security-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="security">
              <a href="/security">Reporting Security Issues</a>
            </h2>

            {% include security.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Community -->
<section>
  <div class="community-row">
    <div class="container content-container">
      <div class="community-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="community">
              <a href="/community">Community</a>
            </h2>

            {% include community.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Code of conduct -->
<section>
  <div class="conduct-row">
    <div class="container content-container">
      <div class="conduct-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="code-of-conduct">
              <a href="/code-of-conduct">Code of Conduct</a>
            </h2>

            {% include code-of-conduct.html %}
          </div>
        </div>
      </div>

      <p><a href="/code-of-conduct">More</a></p>
    </div>
  </div>
</section>

<!-- Mission statement -->
{% include mission.html %}

<!-- The Rubinius Team -->
{% include team.html %}

<!-- Overview of roles -->
{% include roles.html %}

<!-- Explanation of the advice process -->
{% include advice-process.html %}

<!-- The Rubinius Book description -->
{% include book.html %}

<!-- The Rubinius gallery -->
{% include gallery.html %}

<!-- The Rubinius store -->
{% include shop.html %}
