---
layout: index
---

<!-- Package download button visible on md, lg -->
{% include package.html %}

<!-- Lede content -->
{% include lede.html %}

<!-- Platform description and project goals -->
{% include platform.html %}

<!-- Details of available packages and packaging policy -->
{% include packages.html %}

<!-- Security reporting instructions -->
{% include security.html %}

<!-- Community -->
{% include community.html %}

<!-- Code of conduct -->
{% include code-of-conduct.html %}

<!-- Mission statement -->
{% include mission.html %}

<!-- The Rubinius Team -->
{% include team.html %}

<!-- Overview of roles -->
{% include roles.html %}

<!-- Explanation of the advice process -->
{% include advice-process.html %}

<!-- The Rubinius Book description -->
{% include book.html %}

<!-- The Rubinius gallery -->
{% include gallery.html %}

<!-- The Rubinius store -->
{% include shop.html %}

<div class="visible-xs-block footer-xs-padding"></div>
<div class="visible-sm-block footer-sm-padding"></div>
<div class="visible-md-block footer-md-padding"></div>
<div class="visible-lg-block footer-lg-padding"></div>
