---
layout: index
---

<!-- Package download button visible on md, lg -->
{% include package.html %}

<!-- Lede content -->
{% include lede.html %}

<!-- Platform description and project goals -->
<section>
  <div class="platform-row">
    <div class="container content-container">
      <div class="platform-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="platform">
              <a href="/platform">Rubinius Language Platform</a>
            </h2>

            {% include platform.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Details of available packages and packaging policy -->
<section>
  <div class="packages-row">
    <div class="container content-container">
      <div class="packages-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="packages">
              <a href="/packages">Installing Packages</a>
            </h2>

            {% include packages.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Security reporting instructions -->
<section>
  <div class="security-row">
    <div class="container content-container">
      <div class="security-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="security">
              <a href="/security">Reporting Security Issues</a>
            </h2>

            {% include security.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Community -->
<section>
  <div class="community-row">
    <div class="container content-container">
      <div class="community-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="community">
              <a href="/community">Community</a>
            </h2>

            {% include community.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Code of conduct -->
<section>
  <div class="conduct-row">
    <div class="container content-container">
      <div class="conduct-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="code-of-conduct">
              <a href="/code-of-conduct">Code of Conduct</a>
            </h2>

            {% include code-of-conduct.html %}
          </div>
        </div>
      </div>

      <p><a href="/code-of-conduct">More</a></p>
    </div>
  </div>
</section>

<!-- Mission statement -->
<section>
  <div class="mission-row">
    <div class="container content-container">
      <div class="mission-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="mission">
              <a href="/mission">Rubinius Mission</a>
            </h2>

            {% include mission.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Rubinius Team -->
<section>
  <div class="team-row">
    <div class="container content-container">
      <div class="team-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="team">
              <a href="/team">Rubinius Team</a>
            </h2>

            {% include team.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Overview of roles -->
<section>
  <div class="roles-row">
    <div class="container content-container">
      <div class="row-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="roles">
              <a href="/roles">Community Roles</a>
            </h2>

            {% include roles.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Explanation of the advice process -->
<section>
  <div class="advice-row">
    <div class="container content-container">
      <div class="advice-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="advice-process">
              <a href="/advice_process">Advice Process</a>
            </h2>

            {% include advice-process.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Rubinius Book description -->
<section>
  <div class="book-row">
    <div class="container content-container">
      <div class="book-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="book">
              <a href="/book">Rubinius Book</a>
            </h2>

            {% include book.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Rubinius gallery -->
<section>
  <div class="gallery-row">
    <div class="container content-container">
      <div class="gallery-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="gallery">
              <a href="/gallery">Gallery</a>
            </h2>

            {% include gallery.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Rubinius store -->
<section>
  <div class="shop-row">
    <div class="container content-container">
      <div class="shop-container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="shop">
              <a href="/shop">Shop</a>
            </h2>

            {% include shop.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
