<section>
<h1 id="code-of-conduct">
  <a href="/code-of-conduct">Code of Conduct</a>
</h1>

<h3>Purpose</h3>

<p>The Rubinius project commits to being inclusive to the largest number of participants, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, religion, or non-religion.</p>

<p>This code of conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.</p>

<p>We invite all those who participate in Rubinius project activities to help us create safe and positive experiences for everyone.</p>

<h3>Open Source &amp; Culture Citizenship</h3>

<p>A supplemental goal of this Code of Conduct is to increase open source and culture citizenship by encouraging participants to recognize and strengthen the relationships between our actions and their effects on our community.</p>

<p>Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society.</p>

<p>If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages all participants to contribute to the fullest extent, please recognize their efforts.</p>

<h3>Expected Behavior</h3>

<p>The following behaviors are expected and requested of all community members:</p>

<ul>
  <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community.</li>
  <li>Exercise consideration and respect in your speech and actions.</li>
  <li>Attempt collaboration before conflict.</li>
  <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
  <li>Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
  <li>Remember that community event venues may be shared with members of the public; please be respectful to all patrons of these locations.</li>
</ul>

<h3>Unacceptable Behavior</h3>

<p>The following behaviors are considered harassment and are unacceptable within our community:</p>

<ul>
  <li>Violence, threats of violence or violent language directed against another person.</li>
  <li>Sexist, racist, homophobic, transphobic, ableist or otherwise discriminatory jokes and language.</li>
  <li>Posting or displaying sexually explicit or violent material.</li>
  <li>Posting or threatening to post other people’s personally identifying information ("doxing").</li>
  <li>Personal insults, particularly those related to gender, sexual orientation, race, religion, or disability.</li>
  <li>Inappropriate photography or recording.</li>
  <li>Inappropriate physical contact. You should have someone’s consent before touching them.</li>
  <li>Unwelcome sexual attention. This includes, sexualized comments or jokes; inappropriate touching, groping, and unwelcomed sexual advances.</li>
  <li>Deliberate intimidation, stalking or following (online or in person).</li>
  <li>Advocating for, or encouraging, any of the above behavior.</li>
  <li>Sustained disruption of community events, including talks and presentations.</li>
</ul>

<h3>Consequences of Unacceptable Behavior</h3>

<p>Unacceptable behavior from any community member, including sponsors and those with decision-making authority, will not be tolerated.</p>

<p>Anyone asked to stop unacceptable behavior is expected to comply immediately.</p>

<p>If a community member engages in unacceptable behavior, we may take any action deemed appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).</p>

<h3>Reporting Guidelines</h3>

<p>If you are subject to or witness unacceptable behavior, or have any other concerns, please notify us as soon as possible by emailing <a href="conduct@rubini.us">conduct@rubini.us</a>. Please read <a href="#reporting_guidelines">Detailed Reporting Guidelines</a>.</p>

<p>Additionally, community organizers are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress.</p>

<h3>Addressing Grievances</h3>

<p>Only permanent resolutions (such as bans) may be appealed. To appeal a decision of the working group, contact the Rubinius team at <a href="mailto:team@rubinius">team@rubini.us</a> with your appeal and the team will review the case.</p>

<h3>Scope</h3>

<p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues–online and in-person–as well as in all one-on-one communications pertaining to community business.</p>

<p>This code of conduct and its related procedures also applies to unacceptable behavior occurring outside the scope of community activities when such behavior has the potential to adversely affect the safety and well-being of community members.</p>

<h3>Contact info</h3>

<p><a href="mailto:conduct@rubinius.com">conduct@rubinius.com</a></p>

<h3>License and attribution</h3>

<p>This Code of Conduct is distributed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike license 3.0</a>. The text is derived from the <a href="http://stumptownsyndicate.org/">Stumptown Syndicate</a> <a href="http://stumptownsyndicate.org/code-of-conduct/">Code of Conduct</a> revision 2.1.</p>

<h2 id="reporting_guidelines">Detailed Reporting Guidelines</h2>

<p>If you believe someone is violating the Code of Conduct, we ask that you report it to the Rubinius project by emailing <a href="mailto:conduct@rubini.us">conduct@rubini.us</a>.</p>

<p><strong>All reports will be kept confidential.</strong> In some cases we may determine that a public statement will need to be made. If that’s the case, the identities of all victims and reporters will remain confidential unless those individuals instruct us otherwise.</p>

<p>If you believe anyone is in physical danger, please notify appropriate law enforcement first. If you are unsure what law enforcement agency is appropriate, please include this in your report and we will attempt to notify them.</p>

<p>In your report please include:</p>

<ul>
  <li>Your contact info (so we can get in touch with you if we need to follow up)</li>
  <li>Names (real, nicknames, or pseudonyms) of any individuals involved. If there were other witnesses besides you, please try to include them as well.</li>
  <li>When and where the incident occurred. Please be as specific as possible.</li>
  <li>Your account of what occurred. If there is a publicly available record (e.g. a mailing list archive or a public IRC logger) please include a link.</li>
  <li>Any extra context you believe existed for the incident.</li>
  <li>If you believe this incident is ongoing.</li>
  <li>Any other information you believe we should have.</li>
</ul>

<h3>What happens after you file a report?</h3>

<p>You will receive an email from the Rubinius project’s Code of Conduct Working Group acknowledging receipt within 24 hours (and will aim for much quicker than that).</p>

<p>The working group will immediately meet to review the incident and determine:</p>

<ul>
  <li>What happened.</li>
  <li>Whether this event constitutes a code of conduct violation.</li>
  <li>Who the bad actor was.</li>
  <li>Whether this is an ongoing situation, or if there is a threat to anyone’s physical safety.</li>
</ul>

<p>If this is determined to be an ongoing incident or a threat to physical safety, the working groups’ immediate priority will be to protect everyone involved. This means we may delay an "official" response until we believe that the situation has ended and that everyone is physically safe.</p>

<p>Once the working group has a complete account of the events they will make a decision as to how to respond. Responses may include:</p>

<ul>
  <li>Nothing (if we determine no violation occurred).</li>
  <li>A private reprimand from the working group to the individual(s) involved.</li>
  <li>A public reprimand.</li>
  <li>An imposed vacation (i.e. asking someone to "take a week off" from a mailing list, Gitter, Discourse, IRC, etc.).</li>
  <li>A permanent or temporary ban from some or all Stumptown Syndicate spaces (events, meetings, Gitter, Discourse, IRC, etc.)</li>
  <li>A request for a public or private apology.</li>
  <li>A request to engage in mediation and/or an accountability plan.</li>
</ul>

<p>We’ll respond within one week to the person who filed the report with either a resolution or an explanation of why the situation is not yet resolved.</p>

<p>Once we’ve determined our final action, we’ll contact the original reporter to let them know what action (if any) we’ll be taking. We’ll take into account feedback from the reporter on the appropriateness of our response, but we don’t guarantee we’ll act on it.</p>

<p>Finally, the Working Group will make a report on the situation to the Stumptown Syndicate board. The board may choose to issue a public report of the incident.</p>

<h3>Appealing</h3>

<p>Only permanent resolutions (such as bans) may be appealed. To appeal a decision of the working group,
  contact the Rubinius Code of Conduct team at <a href="mailto:conduct@rubinius.com">conduct@rubinius.com</a> with your appeal and the team will review the case.</p>

<p>These reporting guidelines are derived from the <a href="http://stumptownsyndicate.org">Stumptown Syndicate</a> <a href="http://stumptownsyndicate.org/code-of-conduct/reporting-guidelines/">Reporting Guidelines</a>.</p>
</section>
