<section>
<h1 id="community">Community</h1>

<div class="community-row">
  <div class="container content-container">
    <div class="community-container">
      <div class="row">
        <div class="col-md-12">
<section>
<blockquote cite="https://en.wikipedia.org/wiki/Toni_Morrison">
  Remember that your real job is that if you are free, you need to free somebody else. If you have some power, then your job is to empower somebody else.
  <span class="quote-attribution">&mdash; Toni Morrison</span>
</blockquote>

</section>

<!-- Code of conduct -->
<section>
<h2 id="code-of-conduct">Code of Conduct</h2>

<p><em>The Rubinius project is committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, religion, or non-religion.</em></p>

<p>As part of our commitment, we adopt a <a href="/code-of-conduct">Code of Conduct</a> that applies to <em>any</em> Rubinius project, space, and event, whether online or in-person. If you are subject to, or witness to, possible violations of the Code of Conduct, see the <a href="reporting-guidelines">detailed reporting guidelines</a>.</p>

<p>The Rubinius Code of Conduct is not intended to create any procedural or substantive rights under any system of law. Participation in the Rubinius community is voluntary and subject to complying with the Code of Conduct.</p>

<p>The Rubinius community Code of Conduct is adapted from <a href="http://stumptownsyndicate.org/">the Stumptown Syndicate's</a> <a href="http://stumptownsyndicate.org/code-of-conduct/">Code of Conduct</a>. We thank them for their ongoing work to create inclusive and helpful communities.</p>
</section>

<!-- Overview of roles -->
<section>
<h2 id="roles">Community Roles</h2>

<p>A <em>role</em> in the Rubinius community is not a person or a position. A person may participate as part of a role, or in multiple roles, or any combination. <em>A role has two fundamental parts: 1. a problem to solve, and 2. a network of collaboration with other roles.</em></p>
</section>

<!-- Explanation of the advice process -->
<section>
<h2 id="advice-process">Advice Process</h2>

<p>The <em>advice process</em> is a method of making decisions in a network of collaborating roles. The advice process contrasts markedly from the decision making process in a typical hierarchy, where one's position confers and limits one's authority to make decisions.</p>
</section>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Vision statement -->
<div class="vision-row">
  <div class="container content-container">
    <div class="vision-container">
      <div class="row">
        <div class="col-md-12">
<h1 id="vision">Why Rubinius Exists</h1>

<p>The Rubinius community is a group of people who work together, influenced by our values, to accomplish things that fulfill the Rubinius vision and mission.</p>
        </div>
<div class="vision-parts">
<div class="col-md-4">
<section>
<h2>Vision</h2>

<p class="mission-statement">Our vision is a world where everyone can use the tremendous computing power humanity has created to improve their well-being and quality of life.</p>

<p>By "everyone" we mean creating the most benefit for the least amount of effort for the greatest number of people. There will always be incredibly smart people who do very difficult things. For the rest of us, to steal a quote by Moshe Feldenkrais, we want to "make the impossible possible, the hard easy, and the easy elegant".</p>
</section>
</div>

<div class="col-md-4">
<section>
<h2>Mission</h2>

<p class="mission-statement">Our mission is to build the best platform and tools for people to use the power of languages to process information to create value and solve problems, prioritizing our efforts to improve access for people who have been marginalized and excluded.</p>

<p>Every aspect of our lives is touched by our ability to process information. Living things process and share information and this capability results in an exponentially decreasing cost of goods over time (to some minimum limit), a concept Pieter Hintjens calls <em><a href="http://cultureandempire.com/#/">cost gravity</a></em>.</p>

<p>Languages are the most powerful tools humanity has invented for processing and sharing information. As with any technology, these tools are multipliers of our efforts; they can be used for good or ill. To give people the opportunity to create health, wealth, and happiness in the world, we must give them access to these tools.</p>

</section>
</div>

<div class="col-md-4">
<section>
<h2>Values</h2>

<p class="mission-statement">We value impact, quality, inclusiveness, diversity and balance, and we actively promote them.</p>

<p>We celebrate our differences and appreciate them as a source of strength. We prioritize improving access and championing the needs of people who have traditionally been excluded. We get things done, lead by example, and we constantly strive to improve. We realize that we enjoy a lot of privilege and we work hard to empower others rather than advancing our own interests.</p>

<p>We welcome anyone who shares our vision, mission, and values to be a part of the Rubinius community. We describe the many opportunities to participate and contribute in our section on <a href="#roles">Roles</a>, and one of those roles is to help <a href="#defining_roles">better define the roles</a>.</p>
</section>
</div>
</div>
      </div>
    </div>
  </div>
</div>
</section>
