<section>
<h1 id="community">Community</h1>

<div class="community-row">
  <div class="container content-container">
    <div class="community-container">
      <div class="row">
        <div class="col-md-12">
<blockquote cite="https://en.wikipedia.org/wiki/Toni_Morrison">
  Remember that your real job is that if you are free, you need to free somebody else. If you have some power, then your job is to empower somebody else.
  <span class="quote-attribution">&mdash; Toni Morrison</span>
</blockquote>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Code of conduct -->
<div class="conduct-row">
  <div class="container content-container">
    <div class="conduct-container">
      <div class="row">
        <div class="col-md-12">
          {% include code-of-conduct.html %}
        </div>
      </div>
    </div>

    <p><a href="/code-of-conduct">More</a></p>
  </div>
</div>

<!-- Overview of roles -->
<div class="roles-row">
  <div class="container content-container">
    <div class="row-container">
      <div class="row">
        <div class="col-md-12">
          {% include roles.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Explanation of the advice process -->
<div class="advice-row">
  <div class="container content-container">
    <div class="advice-container">
      <div class="row">
        <div class="col-md-12">
          {% include advice-process.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Vision statement -->
<div class="vision-row">
  <div class="container content-container">
    <div class="vision-container">
      <div class="row">
        <div class="col-md-12">
          {% include vision.html %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
