<section>
  <div class="community-row" id="community">
    <div class="container content-container community-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Community</h2>
          <blockquote cite="https://en.wikipedia.org/wiki/Toni_Morrison">
            Remember that your real job is that if you are free, you need to free somebody else. If you have some power, then your job is to empower somebody else.
            <span style="display: block; text-align: right;">&mdash; Toni Morrison</span>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
