<footer>
  <nav class="footer-row">
    <div class="container content-container footer-container">
      <div class="row">
        <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
          <div class="footer-menu-header">
            <a href="#">Rubinius</a>
          </div>
          <ul class="footer-menu-body">
            <li>Platform</li>
            <li>Mission</li>
            <li>Security</li>
            <li>Book</li>
          </ul>
        </div>
        <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
          <div class="footer-menu-header">
            <a href="#community">Community</a>
          </div>
          <ul class="footer-menu-body">
            <li>Code of Conduct</li>
            <li>Team</li>
            <li>Roles</li>
            <li>Advice Process</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
          <div class="footer-menu-header">
            <a href="#packages">Packages</a>
          </div>
          <ul class="footer-menu-body">
            <li>Docker</li>
            <li>OS X Homebrew</li>
            <li>Ubuntu</li>
            <li>Source Code</li>
          </ul>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
          <div class="footer-menu-header">
            <a href="#gallery">Gallery</a>
          </div>
          <ul class="footer-menu-body">
            <li>Testimonials</li>
            <li>Case Studies</li>
            <li>Languages</li>
            <li>Projects</li>
          </ul>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
          <div class="footer-menu-header">
            <a href="#shop">Shop</a>
          </div>
          <ul class="footer-menu-body">
            <li>Apparel</li>
            <li>Stickers</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <script>
    var _gaq=[['_setAccount','UA-12328521-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</footer>
