<footer>
  <div class="footer-row">
    <div class="container content-container">
      <div class="row">
        <nav>
          <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
            <div class="footer-menu-header">
              <a href="/#"><h1>Rubinius</h1></a>
            </div>
            <ul class="footer-menu-body">
              <li><a href="/blog">Blog</a></li>
              <li><a href="/#platform">Platform</a></li>
              <li><a href="/#security">Security</a></li>
              <li><a href="/#book">Book</a></li>
            </ul>
          </div>
          <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
            <div class="footer-menu-header">
              <a href="/community"><h1>Community</h1></a>
            </div>
            <ul class="footer-menu-body">
              <li><a href="/code-of-conduct">Code of Conduct</a></li>
              <li><a href="/community#community-roles">Community Roles</a></li>
              <li><a href="/community#advice-process">Advice Process</a></li>
              <li><a href="/community#vision">Vision</a></li>
              <li><a href="/#team">Team</a></li>
            </ul>
          </div>
          <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
            <div class="footer-menu-header">
              <a href="/packages"><h1>Packages</h1></a>
            </div>
            <ul class="footer-menu-body">
              <li><a href="/packages#docker">Docker</a></li>
              <li><a href="/packages#homebrew">OS X Homebrew</a></li>
              <li><a href="/packages#ubuntu">Ubuntu</a></li>
              <li><a href="/packages#other-nix">Other Unix/Linux</a></li>
              <li><a href="/packages#source-code">Source Code</a></li>
            </ul>
          </div>
          <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
            <div class="footer-menu-header">
              <a href="/gallery"><h1>Gallery</h1></a>
            </div>
            <ul class="footer-menu-body">
              <li><a href="/gallery#testimonials">Testimonials</a></li>
              <li><a href="/gallery#case-studies">Case Studies</a></li>
              <li><a href="/gallery#languages">Languages</a></li>
              <li><a href="/gallery#projects">Projects</a></li>
            </ul>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
            <div class="footer-menu-header">
              <h1>Products</h1>
            </div>
            <ul class="footer-menu-body">
              <li><a href="http://analyst.rubinius.com">Analyst</a></li>
              <li><a href="http://compute.rubinius.com">Compute</a></li>
            </ul>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="footer-menu col-md-2 col-sm-3 col-xs-6">
            <div class="footer-menu-header">
              <a href="/shop"><h1>Shop</h1></a>
            </div>
            <ul class="footer-menu-body">
              <li><a href="/shop#apparel">Apparel</a></li>
              <li><a href="/shop#stickers">Stickers</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="container content-container">
      <div class="row address-row">
        <div class="col-md-4">
          <ul>
            <li>&copy; 2016 Rubinius, Inc. All rights reserved.</li>
            <li>707 SW Broadway St, Suite 1100</li>
            <li>Portland, OR 97205</li>
          </ul>
          <ul>
            <li>PO Box 28603</li>
            <li>Portland, OR 97228</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
