<section>
  <div class="gallery-row">
    <div class="container content-container">
      <div class="gallery-container">

        <div class="row">
          <div class="col-md-12">
<h1 id="gallery">Gallery</h1>

<p>The gallery highlights Rubinius in action with testimonials, case studies, language implementations, and projects related to Rubinius.</p>
          </div>
        </div>

        <div class="row">
<section class="testimonials">
  <div class="col-md-12">
  <h2 id="testimonials">Testimonials</h2>
  </div>
  <div class="col-md-7">
    <p>
      <blockquote  cite="https://en.wikipedia.org/wiki/Darth_Vader">
        I have felt a disturbance in the force; it is Rubinius.
        <span class="quote-attribution">&mdash; Darth "Anakin Skywalker" Vader</span>
      </blockquote>
    </p>
  </div>
  <div class="col-md-5">
    <p>
      <blockquote cite="https://en.wikipedia.org/wiki/Gandalf">
        I'm pretty sure I'd use this.
        <span class="quote-attribution">&mdash; Gandalf</span>
      </blockquote>
    </p>
  </div>
</section>
        </div>

        <div class="row">
<section class="case-studies">
  <div class="col-md-12">
  <h2 id="case-studies">Case Studies</h2>
  <p><a href="/gallery/case-studies/monmouth-telecom/">
    <h3>Rubinius at Monmouth Telecom</h3></a></p>
    <p><a href="http://www.monmouth.com">Ken Leland, CEO, Monmouth Telecom</a></p>
  </div>
</section>
        </div>

        <div class="row">
<section class="languages">
  <div class="col-md-12">
    <h2 id="languages">Languages</h2>
    <ul>
    {% for language in site.data.languages limit:8 %}
      <li>
        <div class="col-md-6">
          <div class="language-tile">
            <h3>{{ language.name }}</h3>
            <div class="language-tile-body">
              <p><a href="{{ language.repository }}">{{ language.repository }}</a></p>
              <p>{{ language.description }}</p>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><a href="/gallery/languages/">See all languages</a></p>
          </div>
        </div>

        <div class="row">
<section class="projects">
  <div class="col-md-12">
    <h2 id="projects">Projects</h2>
    <ul>
    {% for project in site.data.projects limit:8 %}
      <li>
        <div class="col-md-6">
          <div class="project-tile">
            <h3>{{ project.name }}</h3>
            <div class="project-tile-body">
              <p><a href="{{ project.repository }}">{{ project.repository }}</a></p>
              <p>{{ project.description }}</p>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
        </div>
      </div>
    </div>
  </div>
</section>
