<section>
  <div class="lede-content">
    <div class="container content-container">
      <div class="row">
        <div class="col-md-12">
<h2>Who's Using Ruby (or Not), for What, and Why?</h2>

<p>The way we build, test, deploy, maintain, and support applications has changed a lot in the past five years. Containers, microservices, the growing number of connected devices (IoT, if you must), and the sorts of applications people are building with <a href="http://emberjs.com/">Ember</a>, <a href="https://angularjs.org/">Angular</a>, <a href="http://facebook.github.io/react/">React</a> and <a href="https://www.meteor.com/">Meteor</a> are big, not small, changes.</p>

<p>How does Ruby and Rails fit into this rapidly changing landscape? If you search Google for <a href="https://encrypted.google.com/search?hl=en&q=what%20companies%20use%20Ruby%20or%20Rails">"what companies use Ruby or Rails"</a> there's not a lot of specific details about <em>what</em> people are doing with Rails. How does Rails fit into a containerized microservices environment? How are people building services with Rails, or are they? I'm curious about this and I think a lot of the new developers learning Ruby in this changing environment would be as well.</p>

<p>So, I've put together a really brief survey; I'd love to hear more about why people are using Ruby, or why they are not.</p>

<p>Survey: <a href="https://goo.gl/forms/cf8OstwXmI">Who's Using Ruby (or Not), for What, and Why?</a></p>

<a href="http://rubini.us/2015/08/31/who-is-using-ruby-for-what-and-why/">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
