<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="container">
<form action="http://rubini.us7.list-manage.com/subscribe/post?u=72ad4855b528b6af79bd06543&amp;id=db5b4f0e45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
  <input type="submit" value="Email Me Updates!" name="subscribe" id="mc-embedded-subscribe" class="button">

  <p>We email about once a month and never share
    your email address for any reason</p>
</form>
</div>

<!--End mc_embed_signup-->
