<section>
<h1 id="mission">
  <a href="/mission">Rubinius Mission</a>
</h1>

<p>The Rubinius community is a group of people who work together, influenced by our values, to accomplish things that fulfill the Rubinius vision and mission.</p>

<h3>Vision</h3>

<p class="mission-statement">Our vision is a world where everyone can use the tremendous computing power humanity has created to improve their well-being and quality of life.</p>

<p>By "everyone" we mean creating the most benefit for the least amount of effort for the greatest number of people. There will always be incredibly smart people who do very difficult things. For the rest of us, to steal a quote by Moshe Feldenkrais, we want to "make the impossible possible, the hard easy, and the easy elegant".</p>

<h3>Mission</h3>

<p class="mission-statement">Our mission is to build the best platform and tools for people to use the power of languages to process information to create value and solve problems, prioritizing our efforts to improve access for people who have been marginalized and excluded.</p>

<p>Every aspect of our lives is touched by our ability to process information. Living things process and share information and this capability results in an exponentially decreasing cost of goods over time (to some minimum limit), a concept Pieter Hintjens calls <em><a href="http://cultureandempire.com/#/">cost gravity</a></em>.</p>

<p>Languages are the most powerful tools humanity has invented for processing and sharing information. As with any technology, these tools are multipliers of our efforts; they can be used for good or ill. To give people the opportunity to create health, wealth, and happiness in the world, we must give them access to these tools.</p>

<h3>Values</h3>

<p class="mission-statement">We value impact, quality, inclusiveness, diversity and balance, and we actively promote them.</p>

<p>We celebrate our differences and appreciate them as a source of strength. We prioritize improving access and championing the needs of people who have traditionally been excluded. We get things done, lead by example, and we constantly strive to improve. We realize that we enjoy a lot of privilege and we work hard to empower others rather than advancing our own interests.</p>

<p>We welcome anyone who shares our vision, mission, and values to be a part of the Rubinius community. We describe the many opportunities to participate and contribute in our section on <a href="#roles">Roles</a>, and one of those roles is to help <a href="#defining_roles">better define the roles</a>.</p>
</section>
