<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="footer-content">
    <div class="container content-container">
      <div class="row">
        <div class="footer-column col-md-2 col-sm-3 col-xs-6">
          <h3><a href="#">Rubinius</a></h3>
          <ol class="footer-nav-menu">
            <li>Platform</li>
            <li>Mission</li>
            <li>Security</li>
            <li>Book</li>
          </ol>
        </div>
        <div class="footer-column col-md-2 col-sm-3 col-xs-6">
          <h3><a href="#community">Community</a></h3>
          <ol class="footer-nav-menu">
            <li>Code of Conduct</li>
            <li>Team</li>
            <li>Roles</li>
            <li>Advice Process</li>
            <li>Discourse</li>
            <li>Contact Us</li>
          </ol>
        </div>
        <div class="footer-column col-md-2 col-sm-3 col-xs-6">
          <h3><a href="#packages">Packages</a></h3>
          <ol class="footer-nav-menu">
            <li>Docker</li>
            <li>OS X Homebrew</li>
            <li>Ubuntu</li>
            <li>Source Code</li>
          </ol>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="footer-column col-md-2 col-sm-3 col-xs-6">
          <h3><a href="#gallery">Gallery</a></h3>
          <ol class="footer-nav-menu">
            <li>Testimonials</li>
            <li>Case Studies</li>
            <li>Languages</li>
            <li>Projects</li>
          </ol>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="footer-column col-md-2 col-sm-3 col-xs-6">
          <h3><a href="#store">Store</a></h3>
          <ol class="footer-nav-menu">
            <li>Apparel</li>
            <li>Stickers</li>
            <li>Sponsorships</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  </nav>
</footer>
