<footer>
  <ol>
    <li>
      <div>
        <h3>Rubinius</h3>
        <ol>
          <li>Platform</li>
          <li>Mission</li>
          <li>Security</li>
          <li>Book</li>
        </ol>
      </div>
    </li>
    <li>
      <div>
        <h3>Community</h3>
        <ol>
          <li>Code of Conduct</li>
          <li>Team</li>
          <li>Roles</li>
          <li>Advice Process</li>
          <li>Discourse</li>
          <li>Contact Us</li>
        </ol>
      </div>
    </li>
    <li>
      <div>
        <h3>Packages</h3>
        <ol>
          <li>Docker</li>
          <li>OS X Homebrew</li>
          <li>Ubuntu</li>
          <li>Source Code</li>
        </ol>
      </div>
    </li>
    <li>
      <div>
        <h3>Gallery</h3>
        <ol>
          <li>Testimonials</li>
          <li>Case Studies</li>
          <li>Languages</li>
          <li>Projects</li>
        </ol>
      </div>
    </li>
    <li>
      <div>
        <h3>Store</h3>
        <ol>
          <li>Apparel</li>
          <li>Stickers</li>
          <li>Sponsorships</li>
        </ol>
      </div>
    </li>
  </ol>
</footer>
