<section>
  <div class="package-row">
    <div class="container content-container package-container">
      <div class="row">
        <div class="col-md-12 hidden-xs hidden-sm package-button">
        {% for release in site.data.releases limit:1 %}
          <p id='version'>
            <a href="{{ site.data.urls.s3_base_url }}{{ release.version }}.tar.bz2">
              Install Rubinus {{ release.version }}</a>
          </p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
