<section>
  <div class="platform-row">
    <div class="container content-container">
      <div class="platform-container">
        <div class="row">
          <div class="col-md-12">
<h1 id="platform">Rubinius Language Platform</h1>

<p>Rubinius is a platform for building programming language technology.</p>

<p>It is difficult to imagine human society without the presence of language. Every advance in human history results from processing and sharing information. The digital revolution is merely the latest of many such advances. <em>Languages are the preeminent tool for processing information.</em> Through the use of languages, humans do the work of information processing and transform the world around them. Humans discovered fire; they invented rocket engines.</p>

<p>Computers are the engines for information processing. Extremely powerful computers are everywhere now. Hundreds of millions of people use them every day. But a tiny fraction of those people actually use the computer itself. A computer is the most powerful machine humans have created and yet most people only use the computer through an app someone else made. The next leap forward for society requires widespread ability to use computers directly.</p>

<p>Rubinius is not the only project focused on making computers better for more people. Most projects aim to make computers easier to use in some respect. Rubinius is instead focused on <em>making people more able to use computers</em>. <a href="http://www.amazon.com/Who-Want-Your-Customers-Become-ebook/dp/B008HRM9X4/">Technology is transformative.</a> Henry Ford didn't just manufacture cars, he helped create a nation of drivers. Rubinius envisions a world where people use computers to solve problems, building their own roads in a sense, not merely following the roads someone else built for them.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
