<section>
<h1 id="security">
  <a href="/security">Reporting Security Issues</a>
</h1>

<p>We work hard to provide a secure environment for running your code. If you find a security issue, please email <a href="mailto:security@rubinius.com">security@rubinius.com</a>. Encrypt your email using <a href="https://github.com/rubinius/rubinius/blob/master/security.pub">our public key</a> (also available <a href="http://rubinius.com/security.pub">on the our website</a> or from the <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x0F7D2F9537F9880C">MIT PGP database</a>).</p>

<p>Our policy is to respond to you within 72 hours and we will work with you to create a fix for the issue. Sending an email to <a href="mailto:security@rubinius.com">security@rubinius.com</a> will not result in a public disclosure. We will work with you on a public disclosure after we have prepared a fix.</p>

<p>For security issues with the standard libraries that are copied from Ruby, please <a href="https://www.ruby-lang.org/en/security/">report them there directly</a> to that project. We are notified as part of their reporting procedures and we ensure that Rubinius is patched in the cases when those vulnerabilities affect Rubinius as well.</p>
</section>
