<section>
<h2 id="team">
  <a href="/team">Rubinius Team</a>
</h2>

<ul>
  <li>
<p><strong>Valerie Concepcion</strong>: If you're interested in getting things like Raspberry PI's, Legos, and Wii Remotes to play well together, Valerie can help. Drawn to the Maker movement and inspired by her friends who work in non-profits, she is interested in applying technology for social good.</p>
  </li>

  <li>
<p><strong>Jesse Cooke</strong>: As co-founder of <a href="https://watsi.org/">Watsi</a>, a venture to fund healthcare for people around the world, Jesse was part of YCombinator's first ever non-profit. Jesse has been contributing in any way he can to Rubinius for a long time. If you visit Portland, OR, you may see him riding this weird bike with a belt instead of a chain.</p>
  </li>

  <li>
<p><strong>Stacy Mullins</strong>: At one point, Stacy would have gladly chosen a typewriter over a computer. But at school for graphic design, she became fascinated by technologies like HTML and CSS and the ability to create something from scratch. Now she's learning about crafting code and communicating well with other developers.</p>
  </li>

  <li>
<p><strong>Yorick Peterse</strong>: When not breaking code, Yorick is fixing it and asking questions. Either way, there is a lot of code happening. He's drawn to the deep technical details of systems like just-in-time compilers and concurrency. He may or may not be a Dr. Evil character hatching plans for world domination.</p>
  </li>

  <li>
<p><strong>Sophia Shao</strong>: A recent graduate of Carnegie Mellon University's Electrical &amp; Computer Engineering department, Sophia has tackled modernizing massive legacy applications. She's also delved into the deepest corners of Rubinius. Hit her up for tips about debugging machine code.</p>
  </li>

  <li>
<p><strong>Brian Shirai</strong>: Having once passed over Ruby for being too much like Perl, Brian rediscovered Ruby over ten years ago and has been working on Rubinius for the past eight. Inadvertently, he's also learned Perl.</p>
  </li>
</ul>
</section>
