---
layout: page
atom_url: /feed/atom.xml
---

<section>
  <div class="post-row">
    <div class="container content-container">
      <div class="packages-container">
        <div class="row">
          <div class="col-md-12">
<div class="blog_posts">
  <h1 class="post_title">{{ page.title }}</h1>
  {% assign post = page %}
  {% include by_line.html %}
  {{ content }}

  {% include comments.html %}
  {% include mailchimp.html %}
  {% include recent_posts.html %}
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
